@model  LT_WebThoiTrang.Models.Product

@{
    ViewBag.Title = "DeleteProducts";
    Layout = "~/Views/Admin/Shared/_MasterLayout.cshtml";
}



<!-- Nút để mở popup xóa -->
<!--<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProductModal">
    Xóa sản phẩm
</button>-->
<!-- Modal Xóa Sản Phẩm -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProductModalLabel">Xóa sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Bạn có chắc muốn xóa sản phẩm này?</h3>

                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.ProductName)</dt>
                    <dd>@Html.DisplayFor(model => model.ProductName)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Price)</dt>
                    <dd>@Html.DisplayFor(model => model.Price)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd>@Html.DisplayFor(model => model.Description)</dd>
                </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("DeleteConfirmed", "Admin", FormMethod.Post, new { id = "deleteProductForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ProductID)
                    <button type="submit" class="btn btn-danger">Xóa</button>
                }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>
